src/main/resources/META-INF/Spring-test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.spring.customtag.com/schema/user"
        xmlns:tns="http://www.spring.customtag.com/schema/user"
            elementFormDefault="qualified">

    <!--<import namespace="http://www.w3.org/XML/1998/namespace"/>-->
    <!--<import namespace="http://www.springframework.org/schema/tool"/>-->

    <!--<annotation>-->
        <!--<documentation><![CDATA[ Namespace support for the myUser provided by han. ]]></documentation>-->
    <!--</annotation>-->

    <element name="user">
        <!--<annotation>-->
            <!--<documentation><![CDATA[ MyUser的配置节点 ]]></documentation>-->
        <!--</annotation>-->
        <complexType>
            <attribute name="id" type="string"/>
            <attribute name="name" type="string"/>
            <attribute name="age" type="int">
                <!--<annotation>-->
                    <!--<documentation><![CDATA[ 人员年龄，默认18 ]]></documentation>-->
                <!--</annotation>-->
            </attribute>
        </complexType>
    </element>
</schema>